greet-web/greet-web/war/wsdl/DataProviderPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://data.service.server.bim.roman.ru/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://data.service.server.bim.roman.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://data.service.server.bim.roman.ru/" schemaLocation="DataProviderPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="storeSettings">
    <part name="parameters" element="tns:storeSettings"/>
  </message>
  <message name="storeSettingsResponse">
    <part name="parameters" element="tns:storeSettingsResponse"/>
  </message>
  <message name="renewRating">
    <part name="parameters" element="tns:renewRating"/>
  </message>
  <message name="renewRatingResponse">
    <part name="parameters" element="tns:renewRatingResponse"/>
  </message>
  <message name="save">
    <part name="parameters" element="tns:save"/>
  </message>
  <message name="saveResponse">
    <part name="parameters" element="tns:saveResponse"/>
  </message>
  <message name="getList">
    <part name="parameters" element="tns:getList"/>
  </message>
  <message name="getListResponse">
    <part name="parameters" element="tns:getListResponse"/>
  </message>
  <portType name="DataProvider">
    <operation name="storeSettings">
      <input ns1:Action="http://data.service.server.bim.roman.ru/DataProvider/storeSettingsRequest" message="tns:storeSettings" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://data.service.server.bim.roman.ru/DataProvider/storeSettingsResponse" message="tns:storeSettingsResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="renewRating">
      <input ns3:Action="http://data.service.server.bim.roman.ru/DataProvider/renewRatingRequest" message="tns:renewRating" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://data.service.server.bim.roman.ru/DataProvider/renewRatingResponse" message="tns:renewRatingResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="save">
      <input ns5:Action="http://data.service.server.bim.roman.ru/DataProvider/saveRequest" message="tns:save" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://data.service.server.bim.roman.ru/DataProvider/saveResponse" message="tns:saveResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getList">
      <input ns7:Action="http://data.service.server.bim.roman.ru/DataProvider/getListRequest" message="tns:getList" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://data.service.server.bim.roman.ru/DataProvider/getListResponse" message="tns:getListResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

