greet-web/greet-web/war/wsdl/DataProviderPortType_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://dataws.service.server.bim.roman.ru/" xmlns:tns="http://dataws.service.server.bim.roman.ru/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getList" type="tns:getList"/>

  <xs:element name="getListResponse" type="tns:getListResponse"/>

  <xs:element name="registerNewAndLoadSettings" type="tns:registerNewAndLoadSettings"/>

  <xs:element name="registerNewAndLoadSettingsResponse" type="tns:registerNewAndLoadSettingsResponse"/>

  <xs:element name="renewRating" type="tns:renewRating"/>

  <xs:element name="renewRatingResponse" type="tns:renewRatingResponse"/>

  <xs:element name="save" type="tns:save"/>

  <xs:element name="saveResponse" type="tns:saveResponse"/>

  <xs:element name="storeSettings" type="tns:storeSettings"/>

  <xs:element name="storeSettingsResponse" type="tns:storeSettingsResponse"/>

  <xs:element name="systemTask" type="tns:systemTask"/>

  <xs:element name="systemTaskResponse" type="tns:systemTaskResponse"/>

  <xs:complexType name="storeSettings">
    <xs:sequence>
      <xs:element name="arg0" type="tns:storeSettingsRequest" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="storeSettingsRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractRequest">
        <xs:sequence>
          <xs:element name="userSettingsModel" type="tns:userSettingsModel" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractRequest">
    <xs:sequence>
      <xs:element name="requestInfo" type="tns:requestInfo" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userSettingsModel">
    <xs:sequence>
      <xs:element name="cacheMaxSize" type="xs:long" minOccurs="0"/>
      <xs:element name="categories" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="currentNum" type="xs:long" minOccurs="0"/>
      <xs:element name="disabilityDuration" type="xs:long" minOccurs="0"/>
      <xs:element name="editDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="facedLangId" type="xs:long" minOccurs="0"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="login" type="xs:string" minOccurs="0"/>
      <xs:element name="lookAndFeel" type="xs:string" minOccurs="0"/>
      <xs:element name="opacity" type="xs:double" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="portion" type="xs:long" minOccurs="0"/>
      <xs:element name="previewDuration" type="xs:long" minOccurs="0"/>
      <xs:element name="previewInterval" type="xs:long" minOccurs="0"/>
      <xs:element name="ratings" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="recordsCount" type="xs:long" minOccurs="0"/>
      <xs:element name="shadowedLangId" type="xs:long" minOccurs="0"/>
      <xs:element name="sortingDirection" type="xs:string" minOccurs="0"/>
      <xs:element name="sortingField" type="xs:string" minOccurs="0"/>
      <xs:element name="subscribed" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="types" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="workWithPortion" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestInfo">
    <xs:sequence>
      <xs:element name="ip" type="xs:string" minOccurs="0"/>
      <xs:element name="passHash" type="xs:string" minOccurs="0"/>
      <xs:element name="userId" type="xs:long" minOccurs="0"/>
      <xs:element name="version" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="storeSettingsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:storeSettingsResp" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="storeSettingsResp">
    <xs:complexContent>
      <xs:extension base="tns:abstractResponse">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getList">
    <xs:sequence>
      <xs:element name="arg0" type="tns:getListRequest" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getListRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractRequest">
        <xs:sequence>
          <xs:element name="categories" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="count" type="xs:int" minOccurs="0"/>
          <xs:element name="facedLangId" type="xs:int" minOccurs="0"/>
          <xs:element name="offset" type="xs:int" minOccurs="0"/>
          <xs:element name="ratingsList" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="shadowedLangId" type="xs:int" minOccurs="0"/>
          <xs:element name="sortingDirection" type="xs:string" minOccurs="0"/>
          <xs:element name="sortingField" type="xs:string" minOccurs="0"/>
          <xs:element name="subscribed" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="types" type="xs:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="getListResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:getListResp" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getListResp">
    <xs:complexContent>
      <xs:extension base="tns:abstractResponse">
        <xs:sequence>
          <xs:element name="list" type="tns:bimItemModel" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="recordsCount" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="bimItemModel">
    <xs:sequence>
      <xs:element name="category" type="xs:long" minOccurs="0"/>
      <xs:element name="editDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="facedLangId" type="xs:long" minOccurs="0"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="modelNum" type="xs:long" minOccurs="0"/>
      <xs:element name="owner" type="xs:long" minOccurs="0"/>
      <xs:element name="rating" type="xs:long" minOccurs="0"/>
      <xs:element name="shadowedLangId" type="xs:long" minOccurs="0"/>
      <xs:element name="textFaced" type="xs:string" minOccurs="0"/>
      <xs:element name="textShadowed" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registerNewAndLoadSettings">
    <xs:sequence>
      <xs:element name="arg0" type="tns:registerNewAndLoadSettingsRequest" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registerNewAndLoadSettingsRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractRequest">
        <xs:sequence>
          <xs:element name="userSettingsModel" type="tns:userSettingsModel" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="registerNewAndLoadSettingsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:registerNewAndLoadSettingsResp" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="registerNewAndLoadSettingsResp">
    <xs:complexContent>
      <xs:extension base="tns:abstractResponse">
        <xs:sequence>
          <xs:element name="userSettingsModel" type="tns:userSettingsModel" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="systemTask">
    <xs:sequence>
      <xs:element name="arg0" type="tns:systemTaskRequest" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="systemTaskRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractRequest">
        <xs:sequence>
          <xs:element name="params" type="xs:string" minOccurs="0"/>
          <xs:element name="taskNum" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="systemTaskResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:systemTaskResp" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="systemTaskResp">
    <xs:complexContent>
      <xs:extension base="tns:abstractResponse">
        <xs:sequence>
          <xs:element name="resultCount" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="save">
    <xs:sequence>
      <xs:element name="arg0" type="tns:saveRequest" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractRequest">
        <xs:sequence>
          <xs:element name="model" type="tns:bimItemModel" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="saveResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="renewRating">
    <xs:sequence>
      <xs:element name="arg0" type="tns:renewRatingRequest" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="renewRatingRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractRequest">
        <xs:sequence>
          <xs:element name="id" type="xs:long" minOccurs="0"/>
          <xs:element name="rating" type="xs:int" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="renewRatingResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>

